<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1> NYC is located in {{region_name }}</h1>
    {{country}} {{ region_num}}

    {% if country == 'usa'%}
      <h1> hello Brooklyn 2018</h1>
    {% endif %}
<br/>
{% for c in city %}
  Best city is : {{c}} <br/>
  {% endfor %}
<br>
<hr>
  {% for item in query_result %}
      {{ item.firstname }} is {{item.lastname}} <br>
  {% endfor %}

<hr>
    <img height="100px" width="150px" src={{philly_pic}} alt="nyc">
    <h2>Welcome to my New York</h2>
    <form action="/showresults" method="POST">
      First name:<br>
      <input type="text" name="firstname" value="Mickey">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">

      <br>Age:<br>
      <input type="text" name="Age" value="20">

      <br><br>

      <input type="submit" value="Submit">
    </form>




  </body>
</html>
